<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}" />
	<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Calculator Dashboard by Tabajara
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->

	<!-- CSS only -->
	<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

	<!--<link href="./assets/css/bootstrap.min.css" rel="stylesheet" />-->
	<link th:href="@{/assets/css/paper-dashboard.css?v=2.0.0}" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/newcss.css}" rel="stylesheet" />


	<!-- Bootstrap core JavaScript
                ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!--   Core JS Files   -->
	<script th:src="@{/assets/js/core/jquery.min.js}"></script>
	<script th:src="@{/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
	<!-- Chart JS -->
	<script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/assets/js/paper-dashboard.min.js?v=2.0.0}" type="text/javascript"></script>




</head>

<body>

	<div class="wrapper ">
		<div class="sidebar" data-color="white" data-active-color="danger">
			<!--
                  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                -->
			<div class="logo">
				<a href="?ac=dashboard" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img src="/assets/img/logo-small.png">
					</div>
				</a>
				<a th:href="@{/home}" class="simple-text logo-normal">
					Calculator 1 2 3
					<!-- <div class="logo-image-big">
                          <img src="./assets/img/logo-big.png">
                        </div> -->
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav" style="width: 99%">
					<li th:class="${(#request.requestURI=='/home' || #request.requestURI=='/')}?'active':''">
						<a th:href="@{/home}">
							<i class="nc-icon nc-bank"></i>
							<p>Dashboard</p>
						</a>
					</li>
					
					<li th:class="${(#request.requestURI.contains('/competicao') )}?'active':''"  sec:authorize="isAuthenticated()">
                                <a th:href="@{/competicao}" >
                                    <i class="nc-icon nc-user-run"></i>
                                    <p>Competição</p>
                                </a>
                    </li>
					
					<li th:class="${(#request.requestURI.contains('/ranking') )}?'active':''"  sec:authorize="isAuthenticated()">
                                <a th:href="@{/ranking}" >
                                    <i class="nc-icon nc-diamond"></i>
                                    <p>Ranking</p>
                                </a>
                    </li>

					<li th:class="${(#request.requestURI=='/login' )}?'active':''" sec:authorize="!isAuthenticated()">
						<a th:href="@{/login}">
							<i class="nc-icon nc-circle-10"></i>
							<p>Login</p>
						</a>
					</li>

					<li th:class="${(#request.requestURI=='/user' )}?'active':''" sec:authorize="!isAuthenticated()">
						<a th:href="@{/user}">
							<i class="nc-icon nc-single-02"></i>
							<p>Cadastro</p>
						</a>
					</li>

					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link " href="/logout">
							<i class="nc-icon nc-atom"></i>
							 <p>Sair</p>
						</a>
					</li>

				</ul>
			</div>
		</div>

		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span>
								<span class="navbar-toggler-bar bar2"></span>
								<span class="navbar-toggler-bar bar3"></span>
							</button>
						</div>

						<a class="navbar-brand" href="#">

							<span sec:authorize="!isAuthenticated()">Crie sua conta</span>
							
							<span sec:authorize="isAuthenticated()" th:text="'Bem Vindo, '+${#authentication.getPrincipal().nome}">Bem vindo, Zezin</span>
														

						</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
					</button>

				</div>
			</nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header panel-header-lg">
          
            <canvas id="bigDashboardChart"></canvas>
          
          
          </div> -->
			<div class="content">

				<div class="alert alert-danger alert-dismissible fade show" th:if="${msgError != null}">
					<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
						<i class="nc-icon nc-simple-remove"></i>
					</button>
					<span th:utext="${msgError}"><b> Aviso :: </b> This is a regular notification made with
						".alert-danger"</span>
				</div>

				<main layout:fragment="corpo">
					<div>conteudo principal das páginas</div>
				</main>

			</div>
			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div class="row">
						<nav class="footer-nav">
							<ul>
								<li>
									<a href="#"></a>
								</li>
							</ul>
						</nav>
						<div class="credits ml-auto">
							<span class="copyright">
								©
								<script>
									document.write(new Date().getFullYear())
								</script>, feito <i class="fa fa-coffee coffee  "></i> por Daves Martins
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>


	<script type="text/javascript" th:inline="javascript">


		var flagMessage= [[${success}]] ;

		if (flagMessage != null){

			$.notify({
				title: "<strong>AVISO ::</strong>",
				message: '[[${success}]]',
				icon: "nc-icon nc-bell-55"
			}, {
				// settings
				type: 'info',
				showProgressbar: true,
				delay: 5000
			});
			
		}
		
		
		var flagMessageError= [[${error}]] ;
		console.log(flagMessageError)

		if (flagMessageError != null){

			$.notify({
				title: "<strong>ERRO ::</strong>",
				message: '[[${error}]]',
				icon: "nc-icon nc-bell-55"
			}, {
				// settings
				 type: 'danger',
	                placement: {
	                    from: 'top',
	                    align: 'center'
	                },
	                animate: {
	                    enter: 'animated bounceInDown',
	                    exit: 'animated bounceOutUp'
	                },
				showProgressbar: true,
				delay: 5000
			});
			
		}


	</script>
</body>

</html>